In [2]:
import pandas as pd

validCells = pd.DataFrame([['A1', 'B1', 'C1'], ['A2', 'B2', 'C2'], ['A3', 'B3', 'C3']], columns=["A", "B", "C"])
validCells.index = range(1, len(validCells) + 1)

gameScoresMatrix = pd.DataFrame([[0, 0, -1], [0, 1, 1], [-1, 1, 0]], columns=["A", "B", "C"])
gameScoresMatrix.index = range(1, len(gameScoresMatrix) + 1)

In [12]:
display(validCells)
display(gameScoresMatrix)

rowsSums = gameScoresMatrix.sum(axis=1)
rows_with_sum_2 = gameScoresMatrix[rowsSums == 2]

colsSums = gameScoresMatrix.sum(axis=0)
cols_with_sum_2 = cols_with_sum_2 = gameScoresMatrix.loc[:, colsSums == 2]

display(colsSums)
display(cols_with_sum_2)

for rowIndex, row in cols_with_sum_2.iterrows():
    for colIndex, value in row.items():
        if value == 0:
            display(rowIndex)
            display(colIndex)

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

   A  B  C
1  0  0 -1
2  0  1  1
3 -1  1  0

A   -1
B    2
C    0
dtype: int64

   B
1  0
2  1
3  1

1

'B'

In [16]:
list = [-3, 1, 2]
if (3 or -3) in list:
    display(list)

In [5]:

gameScoresMatrix = pd.DataFrame([[0, 0, -1], [0, 1, -1], [-1, 1, -1]], columns=["A", "B", "C"])
columnsSums = gameScoresMatrix.sum(axis=0).tolist()
display(columnsSums)
if any(x in columnsSums for x in [3, -3]):
    display(True)

[-1, 2, -3]

True